@use 'variaveis';

.hero{
    
    &__content{
        
        &__title{
            color:variaveis.$corTituloPrincipal;
            font-family: Mantinia;
            text-transform: uppercase;
            padding: 280px 0px 240px 0px;

            @media (max-width:912px){
                text-align: center;
                padding: 60px;
            }
            
            h1{
                font-size: 50px;
                @media (max-width:912px){
                    font-size: 45px;
                }
            }
            h2{
                font-size: 45px;
                @media (max-width:912px){
                    font-size: 40px;
                }
            }
            button {
                margin-top: 16px;
                padding: 16px 60px;
                border: none;
                border-radius: 3px;
                text-transform: uppercase;
                background-color:variaveis.$corTituloPrincipal;
                color: black;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color: darken(variaveis.$corTituloPrincipal, 10%);
                }
            }
            p{
                margin-top: 16px;
                font-size: 12px;
                color: variaveis.$corTextoNormal;
                span{
                    color: variaveis.$corTituloPrincipal;
                }
            }
            
        }

        &__tags{
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width:912px){
                display: block;
            }

            &__devices{
                display: flex;
                align-items: center;
                @media (max-width:912px){
                    flex-direction: column;
                    align-items: center;
                }
                img{
                    height: 80px;
                    padding-right: 70px;
                @media (max-width:912px){
                    padding: 0;
                    }
                }
                :nth-child(3){
                    height: 30px;
                    @media (max-width:912px){
                        padding-top:10px;
                        }
                }
            }


            &__list{
                 .list-awards{
                    display: flex;
                    @media (max-width:912px){
                        padding-top: 20px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        }
                    &__items{
                        text-align: center;
                        padding:16px;
                        
                        span{
                            color: variaveis.$corTituloPrincipal;
                        }
                        p{
                            color: white;
                        }
                    }
                 }
                 
            }
        }
    }
}