$corTituloPrincipal:#ca9a57;
$corTextoNormal:#91989b;
$corDeFundoPrincipal:#081a1b;

@font-face {
    font-family: Mantinia;
    src: url(../../assets/fonts/Mantinia\ W00\ Regular.woff2);
    font-weight: bold;
}
